// colors

$black: #000000;
$white: #F3F3F3;
$orange: #FF7A00;
$red: #E03616;
$green: #45C4A2;

// usefull
@mixin flex($justify: center, $align: center, $direction: row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}  